<a href="https://colab.research.google.com/github/jinny520/22JG/blob/main/3_ans_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1. 리스트

> 실생활의 리스트 
    
<img src='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list1.%EC%8B%A4%EC%83%9D%ED%99%9C%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width=150>

</br>
</br>


> 파이썬의 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```
<img src='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list2.%20%EC%BB%B4%ED%93%A8%ED%84%B0%EC%97%90%EC%84%9C%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width=600>

In [ ]:
# 1월 부터 6월까지 지출을 리스트로 만들기
spending = [25, 36, 8, 53, 24, 56]

In [ ]:
print(spending)

[25, 36, 8, 53, 24, 56]

In [ ]:
type(spending)

list

### 리스트와 인덱스
<img src ='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list3.%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.JPG?raw=true' width =700>

In [ ]:
# 1월 지출은?
print(spending[0])

25

In [ ]:
# 6월 지출은?
print(spending[5])

56

In [ ]:
# 3월 지출은?
print(spending[2])

8

# **※실습※**
알고보니 4월 지출이 10낮게 기록됐다. 4월 지출에 10을 더하시오

In [ ]:
print('변경 전 :', spending)

#spending[3] = spending[3] + 10 
spending[3] += 10 

print('변경 후 :', spending)

변경 전 : [25, 36, 8, 53, 24, 56]
변경 후 : [25, 36, 8, 63, 24, 56]

5월 지출을 2로 나누시오

In [ ]:
print('변경 전:', spending)

#spending[4] = spending[4] / 2  
spending[4] /= 2

print('변경 후:', spending)

변경 전: [25, 36, 8, 63, 24, 56]
변경 후: [25, 36, 8, 63, 12.0, 56]

### 마이너스 인덱스

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list4.%EA%B1%B0%EA%BE%B8%EB%A1%9C%EC%9D%B8%EB%8D%B1%EC%8A%A4.JPG?raw=true' width=500>

In [ ]:
print(spending[5])
print(spending[-1])

56
56

In [ ]:
print(spending[4])
print(spending[-2]) #빈 칸 채워보기

12.0
12.0

#  2.  리스트의 다양한 기능

### 리스트 길이 확인 
> len(리스트이름)

In [ ]:
len(spending)

6

### 리스트에 데이터 추가하기

> 리스트이름.append(데이터)

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

# 감자칩 추가
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [ ]:
# 카레 추가(직접 해보기)

### 빈 리스트 만들고 데이터 추가하기

In [ ]:
# 해야할 일을 저장하는 리스트 to_do
to_do = []

to_do.append('파이썬 공부')
print(to_do)

['파이썬 공부']

In [ ]:
# 해야할 일을 입력받아 to_do에 저장하기(코드 빈칸 채우기)
task = input('해야할 일을 입력하세요 ')
to_do.append(task)
print(to_do)

해야할 일을 입력하세요 영어 공부
['파이썬 공부', '영어 공부']

In [ ]:
to_do.append(input('해야할 일을 입력하세요 '))
print(to_do)

해야할 일을 입력하세요 수학 공부
['파이썬 공부', '영어 공부', '수학 공부']

### 리스트 슬라이싱


> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list5.%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.JPG?raw=true' width=500>


종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

In [ ]:
# 떡볶이, 스테이크만 골라내기
food[2:4]

['떡볶이', '스테이크']

In [ ]:
# 처음부터 스테이크까지 골라내기
food[:3]

['피자', '치킨', '떡볶이']

In [ ]:
# 뒤에서 n개 데이터 슬라이싱
food[-2:]

['스테이크', '파스타']

### 문자열 슬라이싱

In [ ]:
date = '2022-04-04'

In [ ]:
date[:4]

'2022'

In [ ]:
date[-2:]

'04'

In [ ]:
date[5:7]

'04'

### split()으로 문자열 슬라이싱

In [ ]:
date = '2022-04-04 월요일'

In [ ]:
# 공백을 기준으로 split
date.split()

['2022-04-04', '월요일']

In [ ]:
# 0을 기준으로 split
date.split('0')

['2', '22-', '4-', '4 월요일']

In [ ]:
# -을 기준으로 split
date.split('-')

['2022', '04', '04 월요일']

In [ ]:
# split의 결과는 리스트이므로 인덱스 사용 가능
date.split('-')[1]

'04'

In [ ]:
# split의 결과는 문자이므로 숫자로 변환해야 함
int(date.split('-')[1])

4


# **※실습※**
```
date = '2022-01-25'
```

위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [ ]:
date = '2022-01-25'

# 월만 골라내기

mon = int(date.split('-')[1])
print(mon)

1

위 date에서 일(day)만 숫자 형태로 골라내 변수에 저장하시오.

In [ ]:
# 일만 골라내기
day = int(date.split('-')[-1])
print(day)

25

# 4. 이차원 리스트

<img src ='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list6.%EC%9D%B4%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width = 700>

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(abc[0])

[1, 2, 3]

In [ ]:
print(abc[1])

[4, 5, 6]

In [ ]:
print(abc[-1])

[7, 8, 9]

## 이차원 리스트의 인덱스

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list7.%EC%9D%B4%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8B%B1.JPG?raw=true' width = 700>

In [ ]:
# 1 출력하기
print(abc[0][0])

1

이차원 리스트 abc에서 인덱스를 활용해 다음 숫자를 출력하시오

In [ ]:
# 6 출력하기
print(abc[1][2])

6

In [ ]:
# 8 출력하기
print(abc[2][1])

8

# 5. 오늘의 과제 
리스트을 활용한 프로그램을 작성하세요. 과제1, 2 중 1개 선택하여 선택하여 수행

1. 아래 조건을 만족하는 프로그램을 작성하시오  
 *   리스트 g와 문자열 슬라이싱을 사용하여
 *   "스타벅스 그린 티 프라푸치노" 출력

2.   리스트을 활용한 창의적인 코드 작성 (Bonus점수)
 *   리스트는 반드시 사용  
 *   print, input, 변수, 조건문 중 3가지 사용 
 *  수업시간에 사용한 예제는 창의적인 답변으로 인정X

In [ ]:
g="스타벅스그린티프라푸치노"
print(g[0:2],g[7:],g[7:],g[7:])

스타 프라푸치노 프라푸치노 프라푸치노

# 5. 베이징 동계 올림픽 데이터

<img src= 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list8.%20%EB%B2%A0%EC%9D%B4%EC%A7%95%EB%8F%99%EA%B3%84%EC%98%AC%EB%A6%BC%ED%94%BD.JPG?raw=true' width=500>
</br>
</br>
<img src= 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list9.%20%EB%A9%94%EB%8B%AC%ED%91%9C.JPG?raw=true' width=400>

In [ ]:
data =[
       [1,'노르웨이',16,8,13,37],
       [2,'독일',12,10,5,27],
       [3,'중국',9,4,2,15],
       [4,'미국',8,10,7,25],
       [5,'스웨덴',8, 5,4,17],
       [6,'네덜란드',8, 5,4,17],
       [7,'오스트리아',7,7,4,18],
       [8,'스위스',7,2,5,14],
       [9,'러시아',6,12,14,32],
       [10,'프랑스',5,7,2,14],
       [11,'캐나다',4,8,14,26],
       [12,'일본',3,6,9,18],
       [13,'이탈리아',2,7,8,17],
       [14,'대한민국',2,5,2,9],
       ]

In [ ]:
# 순위권에 든 모든 국가를 출력하시오
for row in data :
    print(row[1])

노르웨이
독일
중국
미국
스웨덴
네덜란드
오스트리아
스위스
러시아
프랑스
캐나다
일본
이탈리아
대한민국

In [ ]:
# 금메달보다 은메달 개수가 많은 나라를 출력하시오
for row in data : 
    if row[2] < row[3] : 
        print(row[1], '금메달-',row[2], '은메달-',row[3])

미국 금메달- 8 은메달- 10
러시아 금메달- 6 은메달- 12
프랑스 금메달- 5 은메달- 7
캐나다 금메달- 4 은메달- 8
일본 금메달- 3 은메달- 6
이탈리아 금메달- 2 은메달- 7
대한민국 금메달- 2 은메달- 5

In [ ]:
# 금메달보다 동메달 개수가 많은 나라를 출력하시오
for row in data : 
    if row[2] < row[4] : 
        print(row[1], '금메달-', row[2], '동메달-', row[4])

러시아 금메달- 6 동메달- 14
캐나다 금메달- 4 동메달- 14
일본 금메달- 3 동메달- 9
이탈리아 금메달- 2 동메달- 8

In [ ]:
# 모든 나라의 금메달 합을 구하시오
gold = 0

for row in data : 
    gold += row[2]

print('총 금메달 개수는', gold)

총 금메달 개수는 97