<a href="https://colab.research.google.com/github/jinny520/22JG/blob/main/3_%EB%A6%AC%EC%8A%A4%ED%8A%B8_21000_%EA%B9%80%EC%A7%84%EA%B1%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1. 리스트

> 실생활의 리스트 
    
<img src='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list1.%EC%8B%A4%EC%83%9D%ED%99%9C%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width=150>

</br>
</br>


> 파이썬의 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```
<img src='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list2.%20%EC%BB%B4%ED%93%A8%ED%84%B0%EC%97%90%EC%84%9C%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width=600>

In [ ]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spending = [25, 36, 8, 53, 24, 56]

In [ ]:
# 리스트 이름으로 리스트 출력
print(spending)

In [ ]:
#데이터타입(자료형) 구하는 type()
type(spending)

### 리스트와 인덱스
<img src ='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list3.%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.JPG?raw=true' width =700>

In [ ]:
# 1월 지출은?
print(spending[0])

In [ ]:
# 6월 지출은?
print(spending[5])

In [ ]:
# 3월 지출은?
print(spending[2])

# **※실습※**

알고보니 4월 지출이 10낮게 기록됐다. 4월 지출에 10을 더하시오

In [ ]:
print('변경 전 :', spending)

spending

print('변경 후 :', spending)

5월 지출을 2로 나누시오

In [ ]:
print('변경 전:', spending)

spending

print('변경 후:', spending)

### 마이너스 인덱스

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list4.%EA%B1%B0%EA%BE%B8%EB%A1%9C%EC%9D%B8%EB%8D%B1%EC%8A%A4.JPG?raw=true' width=500>

In [ ]:
print(spending[5])
print(spending[-1])

In [ ]:
print(spending[4])
print(spending[])

#  2.  리스트의 다양한 기능

### 리스트 길이 확인 
> len(리스트이름)

In [ ]:
len(spending)

### 리스트에 데이터 추가하기

> 리스트이름.append(데이터)

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

# 감자칩 추가
food.append('감자칩')
print(food)

In [ ]:
# 카레 추가

### 빈 리스트 만들고 데이터 추가하기

In [ ]:
# 해야할 일을 저장하는 리스트 to_do
to_do = []

to_do.append('파이썬 공부')
print(to_do)

In [ ]:
# 해야할 일을 입력받아 to_do에 저장하기(코드 빈칸 채우기)
task = input('해야할 일을 입력하세요 ')

print(to_do)

In [ ]:
to_do.append(input('해야할 일을 입력하세요 '))
print(to_do)

### 리스트 슬라이싱


> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list5.%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.JPG?raw=true' width=500>


종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

In [ ]:
# 떡볶이, 스테이크만 골라내기
food[]

In [ ]:
# 처음부터 스테이크까지 골라내기
food[]

In [ ]:
# 뒤에서 n개 데이터 슬라이싱
food[]

### 문자열 슬라이싱

In [ ]:
date = '2022-04-04'

In [ ]:
date[:4]

In [ ]:
date[-2:]

In [ ]:
date[5:7]

### split()으로 문자열 슬라이싱

In [ ]:
date = '2022-04-04 월요일'

In [ ]:
# 공백을 기준으로 split
date.split()

In [ ]:
# 0을 기준으로 split
date.split('0')

In [ ]:
# -을 기준으로 split
date.split()

In [ ]:
# split의 결과는 리스트이므로 인덱스 사용 가능
date.split()[]

In [ ]:
# split의 결과는 문자이므로 숫자로 변환해야 함
date.split()[]


# **※실습※**
```
date = '2022-01-25'
```

위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [ ]:
date = '2022-01-25'

# 월만 골라내기

위 date에서 일(day)만 숫자 형태로 골라내 변수에 저장하시오.

In [ ]:
# 일만 골라내기

# 4. 이차원 리스트

<img src ='https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list6.%EC%9D%B4%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8.JPG?raw=true' width = 700>

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

In [ ]:
print(abc[0])

In [ ]:
print(abc[1])

In [ ]:
print(abc[-1])

## 이차원 리스트의 인덱스

<img src = 'https://github.com/jinny520/22JG/blob/91b0656903a3f9342d31307fc4197d7c726f90c4/imaage/list7.%EC%9D%B4%EC%B0%A8%EC%9B%90%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8B%B1.JPG?raw=true' width = 700>

In [ ]:
# 1 출력하기
print(abc[0][0])

이차원 리스트 abc에서 인덱스를 활용해 다음 숫자를 출력하시오

In [ ]:
# 6 출력하기
print()

In [ ]:
# 8 출력하기
print()

# 5. 오늘의 제출 과제 
*   과제1 또는 과제 2 중 하나만 수행하면 됩니다

*   제출방법
  1. 맨 위 파일 제목을 자신의 학번이름으로 수정해주세요 
  2. 오늘의 과제 수행
  3. Ctrl + s 눌러서 저장 
  4. [파일]-[다운로드]-[.ipynb ] 선택
  5. 과제 제출창 --> 파일선택  --> 다운로드 탭--></br>
   [3.리스트_21000_김진건] 파일 첨부 --> </br>
   제출자칸에 학번이름 써서 제출

In [ ]:
#과제1

In [ ]:
#과제2