<a href="https://colab.research.google.com/github/jinny520/22JG/blob/main/4.ans_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문
<img src = 'https://github.com/jinny520/22JG/blob/058ddb09976eea81a4328dcd31e0f619178825e1/imaage/1.%20for.JPG?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print('hi')

hi
hi
hi
hi
hi

<img src ='https://github.com/jinny520/22JG/blob/058ddb09976eea81a4328dcd31e0f619178825e1/imaage/2.for%20ex.JPG?raw=true' width=500>

In [ ]:
for a in [1,2,3,4,5] : 
    print(a, 'hi')

1 hi
2 hi
3 hi
4 hi
5 hi

# 2. range(시작숫자, 종료숫자)

In [ ]:
for a in range(1, 10) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다

> range()는 종료숫자-1 까지 포함한다

In [ ]:
for a in range(1, 11) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다
10 선생님, 다시는 청소를 빼먹지 않겠습니다

> range()에서 시작숫자가 0일 때에는 생략 가능

In [ ]:
for a in range(10) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다')

0 선생님, 다시는 청소를 빼먹지 않겠습니다
1 선생님, 다시는 청소를 빼먹지 않겠습니다
2 선생님, 다시는 청소를 빼먹지 않겠습니다
3 선생님, 다시는 청소를 빼먹지 않겠습니다
4 선생님, 다시는 청소를 빼먹지 않겠습니다
5 선생님, 다시는 청소를 빼먹지 않겠습니다
6 선생님, 다시는 청소를 빼먹지 않겠습니다
7 선생님, 다시는 청소를 빼먹지 않겠습니다
8 선생님, 다시는 청소를 빼먹지 않겠습니다
9 선생님, 다시는 청소를 빼먹지 않겠습니다

# 3. for i in data :
일반적으로 반복문에서는 i라는 변수를 사용합니다

1부터 50까지의 숫자의 합을 구해보자.
ex) 1+2+3+...49+50

In [ ]:
result = 0

for i in range(1, 51) : 
    result= result + i

print(result)

1275

숫자 하나를 입력받고, 1부터 입력받은 숫자까지의 곱을 구해보세요.
<br/>
ex) 5를 입력받은 경우, 1x2x3x4x5 결과 출력하기

In [ ]:
num = int(input('숫자 입력 -> '))
result = 1

for i in range(, ) : 
    result *= i

print(result)

In [ ]:
num = int(input('숫자 입력 -> '))
result = 1

for i in range(1, num+1) : 
    result *= i

print(result)

# 4. 구구단 출력 프로그램
4단 출력하기 <br/>

```
4 x 1 = 4
4 x 2 = 8
...
4 x 8 = 32
4 x 9 = 36
```

In [ ]:
for i in range(1, 10) : 
    print('4 x', i, '=', 4*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 외울 단을 입력받아, 해당 숫자의 구구단을 외워봅시다.<br/>
ex. 5를 입력받으면 5단 외우기

In [ ]:
#코드 틀린 부분 고쳐보기
num = int(input('몇 단을 외워볼까요? '))

for i in range(1, 10) : 
    print(num, 'x', 1, '=', num*1)

몇 단을 외워볼까요? 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5
5 x 1 = 5

In [ ]:
num = int(input('몇 단을 외워볼까요? '))

for i in range(1, 10) : 
    print(num, 'x', i, '=', num*i)

몇 단을 외워볼까요? 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

# 5. 랜덤 구구단 게임 작성하기

랜덤으로 곱셈문제를 내고, 답을 맞추는 게임


<img src='https://github.com/jinny520/22JG/blob/058ddb09976eea81a4328dcd31e0f619178825e1/imaage/3.for_lib.JPG?raw=true' width=500>
<br/>
<br/>



<img src='https://github.com/jinny520/22JG/blob/058ddb09976eea81a4328dcd31e0f619178825e1/imaage/4.for_libuse.JPG?raw=true' width=500>

In [ ]:
import random
#random.random() 0부터 1사이의 랜덤한 실수 리턴
random.random()

0.8852288622584805

In [ ]:
help(random.random)

Help on built-in function random:

random(...) method of random.Random instance
    random() -> x in the interval [0, 1).

In [ ]:
random.randint(1, 10)

1

In [ ]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

구구단 게임 형식 


```
구구단을 외자! 구구단을 외자! 
7 x 9 ? 63
3 x 7 ? 21
....
```

In [ ]:
import random

for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    print(num1, 'x', num2,'?')

9 x 2 ?
6 x 3 ?
7 x 6 ?
7 x 1 ?
6 x 2 ?

구구단 게임에 입력칸을 만들어주자!

In [ ]:
import random

for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    question = str(num1)+' x '+str(num2)+' ? '
    input(question)

8 x 1 ? 8
5 x 1 ? 5
4 x 9 ? 36
3 x 4 ? 12
2 x 3 ? 6

# 5. 반복문 안의 조건문
랜덤 구구단 게임에서 입력된 답이 틀렸을 때, '땡! 정답은 00입니다' 출력하기

In [ ]:
for i in range(5) : 
    num1 = random.randint(2, 9)
    num2 = random.randint(1, 9)
    question = str(num1)+' x '+str(num2)+' ? '
    # 입력된 답을 변수에 저장하기
    answer = int(input(question))

    if answer != num1*num2 : 
        print('땡! 정답은', num1*num2)

8 x 4 ? 45
땡! 정답은 32
8 x 2 ? 16
7 x 5 ? 90
땡! 정답은 35
2 x 1 ? 5
땡! 정답은 2
3 x 6 ? 8
땡! 정답은 18

> 이차원리스트 반복 원리

<img src = 'https://github.com/jinny520/22JG/blob/e1ba57f88b0b691cc2cb6a1617349725042bd761/imaage/5.for_2.PNG?raw=true' width=800>

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]

for row in abc : 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# 모든 줄의 첫번째 데이터만 출력
abc=[[1,2,3],[4,5,6],[7,8,9]]
for row in abc : 
    print(row[0])

1
4
7

In [ ]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
for row in abc : 
    print(row[-1])

3
6
9

# 7. 오늘의 과제 
반복문을 활용한 프로그램을 작성하세요. 과제1, 2 중 1개 선택하여 선택하여 수행

1. 아래 조건을 만족하는 프로그램을 작성하시오  
 *   1부터 30까지 수의
 *   홀수와 짝수 여부를 판별하는 프로그램을 작성

2.   반복문을 활용한 창의적인 코드 작성 (Bonus점수)
 *   반복문은 반드시 사용  
 *   print, input, 변수, 조건문, 리스트 중 3가지 사용 
 *  수업시간에 사용한 예제는 창의적인 답변으로 인정X

In [ ]:
#예시코드
for i in range(3,31) : 
  if i%2 == 1 : 
    print(i, '짝수')
  else : 
    print(i, '짝수')

0 짝수
1 짝수
2 짝수
3 짝수
4 짝수
5 짝수
6 짝수
7 짝수
8 짝수
9 짝수
10 짝수
11 짝수
12 짝수
13 짝수
14 짝수
15 짝수
16 짝수
17 짝수
18 짝수
19 짝수
20 짝수
21 짝수
22 짝수
23 짝수
24 짝수
25 짝수
26 짝수
27 짝수
28 짝수
29 짝수
30 짝수