<a href="https://colab.research.google.com/github/jinny520/22JG/blob/main/%EC%A0%9C%EC%B6%9C%EA%B3%BC%EC%A0%9C_20101_%EA%B9%80%EC%A7%84%EA%B1%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수 제출 과제
변수를 활용한 프로그램 작성하기 
과제1 또는 과제 2 중 하나를 택하여 작성하고 제출하면 됩니다.

과제1.   "안녕 내 이름은 000이야" 출력되도록 print괄호 안에 적절한 변수 넣기</br>

과제2.   아래 조건을 만족하는 변수를 활용한 창의적인 프로그램 작성하기(Bonus+1점)
 *  input() 명령을 통해 값을 입력받아 변수에 저장
 *  입력받은 값을 저장한 변수를 화면에 출력

In [ ]:
#과제1  20700 김은진
a=input("이름을 입력하세요:")
b="안녕!"
c="내 이름은"
d="(이)야."
print( a+b,c,d )

# 조건문 제출 과제 
조건문을 활용한 프로그램을 작성하세요. 과제1, 2 중 1개 선택하여 선택하여 수행

1.   지하철 자판기 프로그램을 작성하시오  

 *   만 13세 미만은 450원 요금 안내
 *   만 13세 이상 19세 미만은 720원 요금 안내
 *   만 19세 이상 65세 미만은 1250원 요금 안내
 *   만 65세 이상 노인은 이용요금 0원 요금 안내
2.   조건문을 활용한 창의적인 코드 작성 (Bonus점수) 
 *   조건문은 반드시 사용
 *   print, input, 변수 중 2가지 사용 
 *   조건문을 사용할 수 있는 프로그램을 작성하시오(수업시간 예제 외)

In [ ]:
# 과제1: 아래의 코드를 올바르게 작동하도록 수정하세요.
age = int(input('나이는?'))

if age : 
    price = 450
elif 13 <= age and age < 19   : #13 이상 19 미만 이라는 조건을 표현하고 싶을 때 
    price = 720
elif   : 
    price = 1250 
else : 
    price = 0 

print('지하철 요금은',price,'원 입니다.')

# 리스트 제출 과제 
리스트을 활용한 프로그램을 작성하세요. 과제1, 2 중 1개 선택하여 선택하여 수행

1. 아래 조건을 만족하는 프로그램을 작성하시오  
 *   리스트 g와 문자열 슬라이싱을 사용하여
 *   "스타벅스 그린 티 프라푸치노" 출력

2.   리스트을 활용한 창의적인 코드 작성 (Bonus점수)
 *   리스트는 반드시 사용  
 *   print, input, 변수, 조건문 중 3가지 사용 
 *  수업시간에 사용한 예제는 창의적인 답변으로 인정X

In [ ]:
g="스타벅스그린티프라푸치노"
print(g[0:2],g[7:],g[7:],g[7:])

# 반복문 제출 과제 
반복문을 활용한 프로그램을 작성하세요. 과제1, 2 중 1개 선택하여 선택하여 수행

1. 아래 조건을 만족하는 프로그램을 작성하시오  
 *   1부터 30까지 수의
 *   홀수와 짝수 여부를 판별하는 프로그램을 작성

2.   반복문을 활용한 창의적인 코드 작성 (Bonus점수)
 *   반복문은 반드시 사용  
 *   print, input, 변수, 조건문, 리스트 중 3가지 사용 
 *  수업시간에 사용한 예제는 창의적인 답변으로 인정X

In [ ]:
#예시코드
for i in range(31) : 
if i%2 == 1 : 
   print(i, '짝수')
else : 
   print(i, '짝수')

0 짝수
1 짝수
2 짝수
3 짝수
4 짝수
5 짝수
6 짝수
7 짝수
8 짝수
9 짝수
10 짝수
11 짝수
12 짝수
13 짝수
14 짝수
15 짝수
16 짝수
17 짝수
18 짝수
19 짝수
20 짝수
21 짝수
22 짝수
23 짝수
24 짝수
25 짝수
26 짝수
27 짝수
28 짝수
29 짝수
30 짝수